<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iguan.dao.CHBasicInfoLocInfoMapper">
  <resultMap id="BaseResultMap" type="com.iguan.entity.model.CHBasicInfoLocInfo">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="BASIC_ID" jdbcType="BIGINT" property="basicId" />
    <result column="LOC_ACCURANCY" jdbcType="DOUBLE" property="locAccurancy" />
    <result column="LOC_LONGITUDE" jdbcType="DOUBLE" property="locLongitude" />
    <result column="LOC_LATITUDE" jdbcType="DOUBLE" property="locLatitude" />
    <result column="LOG_CMW_CODE" jdbcType="VARCHAR" property="logCmwCode" />
    <result column="LOC_TIME" jdbcType="BIGINT" property="locTime" />
    <result column="UPLOAD_TIME" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, BASIC_ID, LOC_ACCURANCY, LOC_LONGITUDE, LOC_LATITUDE, LOG_CMW_CODE, LOC_TIME, 
    UPLOAD_TIME, CREATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.iguan.entity.model.CHBasicInfoLocInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from CH_BASIC_INFO_LOC_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CH_BASIC_INFO_LOC_INFO
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from CH_BASIC_INFO_LOC_INFO
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.iguan.entity.model.CHBasicInfoLocInfoExample">
    delete from CH_BASIC_INFO_LOC_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iguan.entity.model.CHBasicInfoLocInfo">
    insert into CH_BASIC_INFO_LOC_INFO (ID, BASIC_ID, LOC_ACCURANCY, 
      LOC_LONGITUDE, LOC_LATITUDE, LOG_CMW_CODE, 
      LOC_TIME, UPLOAD_TIME, CREATE_TIME
      )
    values (#{id,jdbcType=BIGINT}, #{basicId,jdbcType=BIGINT}, #{locAccurancy,jdbcType=DOUBLE}, 
      #{locLongitude,jdbcType=DOUBLE}, #{locLatitude,jdbcType=DOUBLE}, #{logCmwCode,jdbcType=VARCHAR}, 
      #{locTime,jdbcType=BIGINT}, #{uploadTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iguan.entity.model.CHBasicInfoLocInfo">
    insert into CH_BASIC_INFO_LOC_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="basicId != null">
        BASIC_ID,
      </if>
      <if test="locAccurancy != null">
        LOC_ACCURANCY,
      </if>
      <if test="locLongitude != null">
        LOC_LONGITUDE,
      </if>
      <if test="locLatitude != null">
        LOC_LATITUDE,
      </if>
      <if test="logCmwCode != null">
        LOG_CMW_CODE,
      </if>
      <if test="locTime != null">
        LOC_TIME,
      </if>
      <if test="uploadTime != null">
        UPLOAD_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="basicId != null">
        #{basicId,jdbcType=BIGINT},
      </if>
      <if test="locAccurancy != null">
        #{locAccurancy,jdbcType=DOUBLE},
      </if>
      <if test="locLongitude != null">
        #{locLongitude,jdbcType=DOUBLE},
      </if>
      <if test="locLatitude != null">
        #{locLatitude,jdbcType=DOUBLE},
      </if>
      <if test="logCmwCode != null">
        #{logCmwCode,jdbcType=VARCHAR},
      </if>
      <if test="locTime != null">
        #{locTime,jdbcType=BIGINT},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iguan.entity.model.CHBasicInfoLocInfoExample" resultType="java.lang.Long">
    select count(*) from CH_BASIC_INFO_LOC_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CH_BASIC_INFO_LOC_INFO
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.basicId != null">
        BASIC_ID = #{record.basicId,jdbcType=BIGINT},
      </if>
      <if test="record.locAccurancy != null">
        LOC_ACCURANCY = #{record.locAccurancy,jdbcType=DOUBLE},
      </if>
      <if test="record.locLongitude != null">
        LOC_LONGITUDE = #{record.locLongitude,jdbcType=DOUBLE},
      </if>
      <if test="record.locLatitude != null">
        LOC_LATITUDE = #{record.locLatitude,jdbcType=DOUBLE},
      </if>
      <if test="record.logCmwCode != null">
        LOG_CMW_CODE = #{record.logCmwCode,jdbcType=VARCHAR},
      </if>
      <if test="record.locTime != null">
        LOC_TIME = #{record.locTime,jdbcType=BIGINT},
      </if>
      <if test="record.uploadTime != null">
        UPLOAD_TIME = #{record.uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CH_BASIC_INFO_LOC_INFO
    set ID = #{record.id,jdbcType=BIGINT},
      BASIC_ID = #{record.basicId,jdbcType=BIGINT},
      LOC_ACCURANCY = #{record.locAccurancy,jdbcType=DOUBLE},
      LOC_LONGITUDE = #{record.locLongitude,jdbcType=DOUBLE},
      LOC_LATITUDE = #{record.locLatitude,jdbcType=DOUBLE},
      LOG_CMW_CODE = #{record.logCmwCode,jdbcType=VARCHAR},
      LOC_TIME = #{record.locTime,jdbcType=BIGINT},
      UPLOAD_TIME = #{record.uploadTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iguan.entity.model.CHBasicInfoLocInfo">
    update CH_BASIC_INFO_LOC_INFO
    <set>
      <if test="basicId != null">
        BASIC_ID = #{basicId,jdbcType=BIGINT},
      </if>
      <if test="locAccurancy != null">
        LOC_ACCURANCY = #{locAccurancy,jdbcType=DOUBLE},
      </if>
      <if test="locLongitude != null">
        LOC_LONGITUDE = #{locLongitude,jdbcType=DOUBLE},
      </if>
      <if test="locLatitude != null">
        LOC_LATITUDE = #{locLatitude,jdbcType=DOUBLE},
      </if>
      <if test="logCmwCode != null">
        LOG_CMW_CODE = #{logCmwCode,jdbcType=VARCHAR},
      </if>
      <if test="locTime != null">
        LOC_TIME = #{locTime,jdbcType=BIGINT},
      </if>
      <if test="uploadTime != null">
        UPLOAD_TIME = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iguan.entity.model.CHBasicInfoLocInfo">
    update CH_BASIC_INFO_LOC_INFO
    set BASIC_ID = #{basicId,jdbcType=BIGINT},
      LOC_ACCURANCY = #{locAccurancy,jdbcType=DOUBLE},
      LOC_LONGITUDE = #{locLongitude,jdbcType=DOUBLE},
      LOC_LATITUDE = #{locLatitude,jdbcType=DOUBLE},
      LOG_CMW_CODE = #{logCmwCode,jdbcType=VARCHAR},
      LOC_TIME = #{locTime,jdbcType=BIGINT},
      UPLOAD_TIME = #{uploadTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>