<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iguan.dao.SettingCmwLngMapper">
  <resultMap id="BaseResultMap" type="com.iguan.entity.model.SettingCmwLng">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CMW_ID" jdbcType="BIGINT" property="cmwId" />
    <result column="LNG_TYPE_ID" jdbcType="BIGINT" property="lngTypeId" />
    <result column="LNG_STATE" jdbcType="INTEGER" property="lngState" />
    <result column="LNG_START" jdbcType="INTEGER" property="lngStart" />
    <result column="LNG_KEY" jdbcType="VARCHAR" property="lngKey" />
    <result column="LNG_VALUE" jdbcType="VARCHAR" property="lngValue" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CMW_ID, LNG_TYPE_ID, LNG_STATE, LNG_START, LNG_KEY, LNG_VALUE, CREATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.iguan.entity.model.SettingCmwLngExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SETTING_CMW_LNG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SETTING_CMW_LNG
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SETTING_CMW_LNG
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.iguan.entity.model.SettingCmwLngExample">
    delete from SETTING_CMW_LNG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iguan.entity.model.SettingCmwLng">
    insert into SETTING_CMW_LNG (ID, CMW_ID, LNG_TYPE_ID, 
      LNG_STATE, LNG_START, LNG_KEY, 
      LNG_VALUE, CREATE_TIME)
    values (#{id,jdbcType=BIGINT}, #{cmwId,jdbcType=BIGINT}, #{lngTypeId,jdbcType=BIGINT}, 
      #{lngState,jdbcType=INTEGER}, #{lngStart,jdbcType=INTEGER}, #{lngKey,jdbcType=VARCHAR}, 
      #{lngValue,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.iguan.entity.model.SettingCmwLng">
    insert into SETTING_CMW_LNG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="cmwId != null">
        CMW_ID,
      </if>
      <if test="lngTypeId != null">
        LNG_TYPE_ID,
      </if>
      <if test="lngState != null">
        LNG_STATE,
      </if>
      <if test="lngStart != null">
        LNG_START,
      </if>
      <if test="lngKey != null">
        LNG_KEY,
      </if>
      <if test="lngValue != null">
        LNG_VALUE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cmwId != null">
        #{cmwId,jdbcType=BIGINT},
      </if>
      <if test="lngTypeId != null">
        #{lngTypeId,jdbcType=BIGINT},
      </if>
      <if test="lngState != null">
        #{lngState,jdbcType=INTEGER},
      </if>
      <if test="lngStart != null">
        #{lngStart,jdbcType=INTEGER},
      </if>
      <if test="lngKey != null">
        #{lngKey,jdbcType=VARCHAR},
      </if>
      <if test="lngValue != null">
        #{lngValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iguan.entity.model.SettingCmwLngExample" resultType="java.lang.Long">
    select count(*) from SETTING_CMW_LNG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SETTING_CMW_LNG
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cmwId != null">
        CMW_ID = #{record.cmwId,jdbcType=BIGINT},
      </if>
      <if test="record.lngTypeId != null">
        LNG_TYPE_ID = #{record.lngTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.lngState != null">
        LNG_STATE = #{record.lngState,jdbcType=INTEGER},
      </if>
      <if test="record.lngStart != null">
        LNG_START = #{record.lngStart,jdbcType=INTEGER},
      </if>
      <if test="record.lngKey != null">
        LNG_KEY = #{record.lngKey,jdbcType=VARCHAR},
      </if>
      <if test="record.lngValue != null">
        LNG_VALUE = #{record.lngValue,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SETTING_CMW_LNG
    set ID = #{record.id,jdbcType=BIGINT},
      CMW_ID = #{record.cmwId,jdbcType=BIGINT},
      LNG_TYPE_ID = #{record.lngTypeId,jdbcType=BIGINT},
      LNG_STATE = #{record.lngState,jdbcType=INTEGER},
      LNG_START = #{record.lngStart,jdbcType=INTEGER},
      LNG_KEY = #{record.lngKey,jdbcType=VARCHAR},
      LNG_VALUE = #{record.lngValue,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iguan.entity.model.SettingCmwLng">
    update SETTING_CMW_LNG
    <set>
      <if test="cmwId != null">
        CMW_ID = #{cmwId,jdbcType=BIGINT},
      </if>
      <if test="lngTypeId != null">
        LNG_TYPE_ID = #{lngTypeId,jdbcType=BIGINT},
      </if>
      <if test="lngState != null">
        LNG_STATE = #{lngState,jdbcType=INTEGER},
      </if>
      <if test="lngStart != null">
        LNG_START = #{lngStart,jdbcType=INTEGER},
      </if>
      <if test="lngKey != null">
        LNG_KEY = #{lngKey,jdbcType=VARCHAR},
      </if>
      <if test="lngValue != null">
        LNG_VALUE = #{lngValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iguan.entity.model.SettingCmwLng">
    update SETTING_CMW_LNG
    set CMW_ID = #{cmwId,jdbcType=BIGINT},
      LNG_TYPE_ID = #{lngTypeId,jdbcType=BIGINT},
      LNG_STATE = #{lngState,jdbcType=INTEGER},
      LNG_START = #{lngStart,jdbcType=INTEGER},
      LNG_KEY = #{lngKey,jdbcType=VARCHAR},
      LNG_VALUE = #{lngValue,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>